.form {
    background-color: #cfcfcf;
opacity: 0.6;
background: linear-gradient(135deg, #00000055 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #000000 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%) 0px 0/ 42px 42px;
}